<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="./images/svg/webpack.svg" alt="webpack logo" />
        <p>Webpack config</p>
      </div>

      <div class="json-load">
        <button id="button" type="button">Load JSON object</button>
        <div class="output_json"></div>
      </div>
    </div>

    <% for(var js of htmlWebpackPlugin.options.cdn.js) { %>
    <script type="text/javascript" src="<%=js%>"></script>
    <% } %>
  </body>
</html>
