body,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.logo {
  text-align: center;
}

.logo img {
  width: 64px;
  height: 64px;
}

.h1 {
  color: blue;
}

.json-load button {
  outline: none;
}
